<%- include('../includes/header') -%>
<%- include('../includes/navbar') -%>
<div class="container-sm p-5 mt-5 shadow-sm">
    <p class="fw-bold fs-2 mb-4">Nova Editora</p>
        <form action="/cadastrarEditora" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nome Editora</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Editora" name="nome" required>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-warning" href="/editora">Voltar</a>
                <button class="btn btn-success" type="submit">Cadastrar Editora</button>
            </div>
        </form>
    </div>

<%- include('../includes/footer') -%>