<%- include('../includes/header') -%>
<%- include('../includes/navbar') -%>
<div class="container-sm p-5 mt-5 shadow-sm">
        <p class="fw-bold fs-2 mb-4">Novo Autor</p>
        <form action="/cadastrarAutor" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nome Autor</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Autor" name="nome" required>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-warning" href="/autor">Voltar</a>
                <button class="btn btn-success" type="submit">Cadastrar Autor</button>
            </div>
        </form>
  
</div>

<%- include('../includes/footer') -%>