<%- include('../includes/header') -%>
<%- include('../includes/navbar') -%>
<div class="container-sm p-5 mt-5 shadow-sm">
    <p class="fw-bold fs-2 mb-4">Novo Administrador</p>
        <form action="/cadastrarAdministrador" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="João dos Santos" name="nome" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Data Nascimento</label>
                <input type="date" class="form-control" name="data" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">CPF</label>
                <input type="text" class="form-control" name="cpf" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" placeholder="email@email.com" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                <input type="text" class="form-control" name="telefone" placeholder="(085)91234-5678" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Senha</label>
                <input type="text" class="form-control" name="senha" placeholder="**********" required>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-warning" href="/administrador">Voltar</a>
                <button class="btn btn-success" type="submit">Cadastrar Administrador</button>
            </div>
        </form>
</div>

<%- include('../includes/footer') -%>