<nav class="navbar navbar-expand-lg mb-5" style="background-color: white;">
  <div class="container-sm">
    <a class="navbar-brand" href="/">
      <img
        src="https://minhabiblioteca.com.br/wp-content/uploads/2022/08/logo_logo_principal.png"
        alt="Bootstrap"
        width="120"
      />
    </a>

    <div class="nav justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Categoria </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/categoria">Buscar Categoria</a></li>
            <li><a class="dropdown-item" href="/cadastrarCategoria">Nova Categoria</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Autor</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/autor">Buscar Autor</a></li>
            <li><a class="dropdown-item" href="/cadastrarAutor">Novo Autor</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Editora</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/editora">Buscar Editora</a></li>
            <li><a class="dropdown-item" href="/cadastrarEditora">Nova Editora</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Livro</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/livro">Buscar Livro</a></li>
            <li><a class="dropdown-item" href="/cadastrarLivro">Novo Livro</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Leitor</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/leitor">Buscar Leitor</a></li>
            <li><a class="dropdown-item" href="/cadastrarLeitor">Novo Leitor</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administrador</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/administrador">Buscar Administrador</a></li>
            <li><a class="dropdown-item" href="/cadastrarAdministrador">Novo Administrador</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Emprestimo</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/emprestimo">Buscar Emprestimos</a></li>
            <li><a class="dropdown-item" href="/alugarLivro">Novo Emprestimo</a></li>
            <li><a class="dropdown-item" href="/historicoEmprestimo">Historico</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
